{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Head Pose Tracking Results</title>
    <style>
        /* Style for the image */
        #logo {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <!-- Image at the top -->
    <img id="logo" src="{% static 'expertz.png' %}" alt="Expertz Logo">
    <!-- Rest of your template -->
</body>
<body>
    <h1>Windows Tracking Results</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Head Pose Event</th>
            </tr>
        </thead>
        <tbody>
            {% for timestamp, h_e_event in data.items %}
            <tr>
                <td>{{ timestamp }}</td>
                <td>{{ h_e_event }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>