<!-- video_processing/templates/video_processing/capture.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Capture Video</title>
</head>
<body>
    <h1>Capture Video from Webcam</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="startButton">Start Recording</button>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <br>
    <button id="stopButton" style="display: none;">Stop Recording</button>
    <button id="processButton" style="display: none;">Process Video</button>
    <br>
    <video id="recorded" controls style="display: none;"></video>
</body>
<script src="{% static 'video_processing/capture.js' %}"></script>
</html>
